@model List<Employee>
@{
    ViewData["Title"] = "Leave Request Applications";
}

<h1>Employee Leave Requests</h1>
<table class="table table-bordered table-responsive table-hover table-dark">
    <tr>
        <th>ID</th>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Leave Type</th>
        <th>Leave Reason</th>
        <th>Leave Days</th>
      

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.startDate</td>
            <td>@item.endDate</td>
            <td>@item.LeaveType</td>
            <td>@item.LeaveReason</td>
            <td>@item.LeaveDays</td>
   


        </tr>

    }
</table>